body{
  padding: 0px;
  margin: 0px;
  background-color: #222;
}

#title{
  font-size: 30px;
  margin-top: 20px;
}

/* -----------------------------------------------------------------
 *  Board
 * -------------------------------------------------------------- */
div.board{
  position:   relative;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  padding:    0px;
}

div#board_main { 
  color: #333;
  background-color: #fff;
}

fieldset {
  width: 80%;
  font-size: x-large;
  margin: 20px auto;
  border: 1px dashed #777;
  text-align: left;
  animation: pop_in 0.5s;
}

fieldset#fs_category{
  animation: none;
}

fieldset:disabled {
/*   visibility: hidden ;
 */
  display: none;
  color: #ccc;
}

@keyframes pop_in {
  0%   { transform: translateY(-10%); }
  100% { transform: translateY(0); }
}

/* -----------------------------------------------------------------
 *  Panel
 * -------------------------------------------------------------- */
.panel{
  position: absolute;
}

div#panel_control{
  width: 100%;
  height: 100%;
  text-align: center;
}

div#panel_control input#button_start{
  width: 300px;
  font-size: 20px;
  color: #333;
  height: 70px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  animation: pop_in 0.5s;
}

input#button_start:disabled{
  display: none;
}

div#panel_control label {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 23.8%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
}

fieldset#fs_game_practice label { width: 19%;  }
fieldset#fs_game_zeroone  label { width: 15.6%; }

div#panel_control input[type=radio]:checked + label {
  background: #333;
  color: #fff;
}

div#panel_control input[type=radio]:disabled + label {
  background: #fff;
  color: #ccc;
  border: 2px solid #ccc;
}

input[type=radio] {
  display: none;
}

div#button_config{
  position: fixed;
  width: 64px;
  height: 54px;
  padding-top: 13px;
  border-radius: 5px;
  background-color: #333;
  right: 20px;
  bottom: 20px;
  border: 2px solid #ccc;
}

div#button_config:hover{
  background-color: #fff;
}

div#button_config div{
  position: relative;
  left: 7px;
  height: 8px;
  width: 50px;
  margin-bottom: 10px;
  background-color: #999;
  border: 2px; solid #999;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}

div#panel_system_message {
  width: 35%;
  height: 20%;
  right: 0%;
  bottom: 20%;
  font-size: 25px;
  color: #fcc;
}
