/* -----------------------------------------------------------------
 *  Board
 * -------------------------------------------------------------- */
div.board{
  visibility: hidden;
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  text-align: center;
  padding:    8px;
}

div.board p.message{
  position: absolute;
  top:      0;
  bottom:   0;
  width:    100%;
  margin:   auto;
}

div#board_main   {                                                     z-index: 0; }
div#board_change { color: #fff; background-color: #333; opacity: 0.8;  z-index: 1; }
div#board_round  { color: #ff0; background-color: #000; opacity: 0.9;  z-index: 1; }
div#board_next   { color: #ff0; background-color: #000; opacity: 0.9;  z-index: 1; }

div#board_menu   { color: #ff0; background-color: #000; opacity: 0.95; z-index: 2; }
div#board_menu   { width: 62%;  height: 80%; left: 19%; top: initial; bottom: 10%; }
div#board_menu   { padding: 0; }

div#board_bust   { color: #0cf; background-color: #000; opacity: 0.9;  z-index: 1; }

div#board_bust p{
  height: 100%;
  margin-left: -10%;
  font-size: 700px;
  text-shadow: 10px 10px 20px #336; 
  transform: rotate(-25deg);
}

div#button_menu{
  position: fixed;
  width: 64px;
  height: 58px; padding-top: 13px;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #ccc;
}

div#button_menu:hover{
  background-color: #fff;
}

td span.round{
  font-size: 50px;
  line-height: 50px;
}

div#button_menu div{
  position: relative;
  left: 0;
  height: 8px;
  width: 50px;
  margin-bottom: 10px;
  background-color: #999;
  border: 2px; solid #999;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}

div#board_videos {                                                    z-index: 9; }
div#board_audios { display: none; }
div#board_remove_darts { color: #ff0; background-color: #000; opacity: 0.9; z-index: 1; }

div#board_result { color: #ff0; background-color: #000; opacity: 0.95;      z-index: 2; }
/* div#board_result { visibility: visible } */

div#board_about { padding: 0; color: #ff0; background-color: #000; opacity: 0.95; z-index: 2; }
div#board_about { width: 80%; height: 80%; left: 10%; top: 10%; }
/* div#board_about { visibility: visible }
 */

div#board_about iframe{ width: 100%; height: 100%; margin: 0; }

div#board_game_option { color: #ff0; background-color: #000; opacity: 0.95; z-index: 2; }
div#board_game_option { width: 80%; height: 80%; left: 10%; top: 10%; }
div#board_game_option h2{ margin: 10px 2px 30px; font-size: xx-large; }

div#board_game_option input{
  width: 300px;
  height: 70px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  background-color: #ccc;
  border: 2px solid #333;
  border-radius: 5px;
  margin: auto;
  bottom: 15px;
  animation: pop_in 0.5s;
}

table#panel_game_option {
  position: relative;
  width: 80%;
  height: 55%;
  margin: auto;
  background-color: #ccc;
}

table#panel_game_option           td.title{ width: 120px; }
table#panel_game_option tr.header td      { height: 10px; }
table#panel_game_option tr        td      { height: 30%; font-size: xx-large;}

div#board_change       p{ height: 200px; font-size: 70px; }
div#board_next         p{ height: 300px; font-size: 70px; }
div#board_round        p{ height: 300px; font-size: 150px; }
div#board_result       p{                font-size: 70px; text-align: center; color: #ccc; }
div#board_remove_darts p{ height: 200px; font-size: 90px; }

@keyframes slide_i {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slide_o {
  0%   { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes fade_i {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade_o {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

div#board_videos video {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div#board_nmark{ background-color: #000; opacity: 0.9;  z-index: 1; }
div#board_nmark table{ width: 100%; height: 90%; background-color: transparent; border: 0; }
div#board_nmark tr{ border: 0; }
div#board_nmark td{ border: 0; padding: 0; margin: 0; background-color: transparent; width: 33%; font-size: 300px }

/* -----------------------------------------------------------------
 *  Panel
 * -------------------------------------------------------------- */
.panel{
  position: fixed;
}

div#panel_total_score{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 380px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0px;
}

div#panel_total_score p{
  font-family: 'Lato';
  text-shadow: 10px 10px 20px #333; 
  position: absolute;
  line-height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  margin: auto;
}

div#panel_winner{
  width: 100%;
  top: 300px;
}

div#panel_control{
  width: 100%;
  height: 10%;
  bottom: 10%;
}

div#panel_control input{
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: 30px;
  color: #333;
  background-color: #ccc;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 30px;
}

div#board_menu p.menu_title{
  display: inline-block;
  font-size: xx-large;
  background-color: #2055AB;
  margin: 0px;
  margin-bottom: 15px;
  color: #fff;
  line-height: 200%;
  width: 100%;
}

div#board_menu ul{
  position: relative;
  margin:0px;
  padding:0px;
  height: 50%;
  list-style: none;
  text-align: center;
}

div#board_menu ul li{
  font-family: 'Lato';
  box-sizing: border-box;
  display: inline-block;
  line-height: 120%;
  width: 70%;
  color: #333;
  border-radius: 10px;
  font-size: xx-large;
  background-color: #ccc;
  border: 1px solid #ccc;
  margin: 15px auto;
  padding: 5px;
}

div#board_menu ul li.inactive{
  color: #999;
}

div#board_menu ul li:hover.active{
  color: #ccc;
  background-color: #333;
}

div#panel_system_message {
  width: 60%;
  height: 10%;
  left: 20%;
  bottom: 20%;
  font-size: 25px;
  color: #fcc;
}

div#panel_game_message {
  background-color: #333;
  padding-top: 5px;
  color: #ccc;
  opacity: 0.9;
  width: 60%;
  height: 70px;
  left: 20%;
  top: 10px;
}

div#panel_game_message p{
  margin: auto;
  line-height: 70px;
  vertical-align: middle;
  height: 70px;
  font-size: 40px;
}

div#panel_game_message strong{
  color: #ff6;
  font-size: 60px;
}

span.little_strong{
  color: #ff6;
}

table#panel_total_mark {
  height: 50%;
  top: 14%;
  margin: auto;
  border: 5px solid #333;
}

table#panel_total_mark td.number { color: #333; }

table#panel_total_mark td{
  font-size: 40px;
}

table#panel_total_mark td.point {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -15px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

table#panel_total_mark td.number{
  width: 80px;
}

table#panel_total_mark td.clear{
  width: 80px;
}

table#panel_total_mark img{
  width:  48px;
  height: 48px;
  margin: 0;
}

span.percent{ font-size: xx-large; margin: 0; line-height: 0; }
img.crown{ width: 60px; margin: 0px; line-height: 0px; }
img.mini_crown{ height: 28px; margin: 0px; line-height: 0px; }
