body{
  padding: 0px;
  margin: 0px;
  background-color: #212121;
}

#main_board{
  padding: 8px;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

#videos video {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#audios {
  display: none;
}

span.history_bull{
  font-size: small;
  font-weight: bold;
  color: red;
}

span.history_highton{ color: #ED2878; }
span.history_lowton{  color: #F7E61A; }
span.history_normal{  color: #FFFFFF; }

table#history{
  position: fixed;
  z-index: 9999;
}

table#information{
  position: fixed;
  right: 8px;
  z-index: 9999;
}

table#history td {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  line-height: 100%;
  margin: 0px;
  height: 1em;
  color: #fff;
  width: 2em;
  background-color: #101010;
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
}

table#information td {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  line-height: 100%;
  margin: 0px;
  height: 1em;
  color: #fff;
  width: 10em;
  background-color: #101010;
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
}

table#history tr td.round {
  text-align: right;
}

table#history tr td.total {
  margin-left: 2px;
  text-align: right;
}

div#press_change_button{
  display: none;
  width:  100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: #999;
  opacity: 0.8;
  font-size: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

div#press_change_button p{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin: auto;
}

div#score{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFAA01;
  font-size: 430px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0px;
  z-index: 999;
}

div#score p{
  font-family: 'Lato';
  position: absolute;
  line-height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  margin: auto;
}
