body { color: #fff; background-color: #000;}
h1{ font-size: xx-large; margin: 2px; color: #8cf; }
h2{ font-size:  x-large; margin: 2px; }
p{ font-size: large; text-indent: 1em; }
a:link{    color: #fcc; }
a:visited{ color: #fcc; }